BasedOnStyle:  LLVM
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
BinPackArguments: true
BinPackParameters: true
BreakStringLiterals: true
ColumnLimit:     80
ContinuationIndentWidth: 2
Cpp11BracedListStyle: false
IndentCaseLabels: false
IndentWidth: 4
Language: Cpp
PointerAlignment: Left
ReflowComments:  true
SortIncludes:    true
SpacesInContainerLiterals: true
Standard:        Auto
TabWidth:        4 
UseTab:          ForIndentation
